* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
